@import "_variables-dir";

:host {

  .carousel-container {
    overflow-x: hidden;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
  }

  .carousel-slide-container {
    position: relative;
    height: 240px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .ctn-btn {
    display: flex;
    justify-content: center;

    .btn {
      padding: 5px 10px;
      color: $light;
      background-color: $c-primary;
      margin: 10px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}