@import "_variables-dir";

$bue-bar-color: $c-primary !default;
$bue-bar-width: 0% !default;
$bue-bar-height: 3px !default;
$bue-bar-top: 90% !default;

$s-title-banner-height: 240% !default;
$s-title-margin-tb: 50px !default;
$s-title-margin-tb-bkg-blk: 100px !default;

:host {
  .section-title {
    position: relative;
    z-index: 1;
    margin: $s-title-margin-tb auto;

    text-shadow: 1px 1px 2px $c-secundary-dark;

    &.bkg-blk {
      text-shadow: 1px 1px 2px $c-secundary-light;

      margin: $s-title-margin-tb-bkg-blk auto;

      .ctn-title {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
      }

      .svg-banner {
        position: absolute;
        top: -1 * $s-title-banner-height/3.5;

        width: 100%;
        height: $s-title-banner-height;

        polygon {
          fill: url(#BannerGradient);
        }
      }
    }

    .box-underline {
      position: relative;
      display: block;
      text-align: center;

      .custom-underline {
        position: relative;
        display: inline-block;
        text-align: center;
      }

      .custom-underline,
      .custom-underline:hover,
      .custom-underline:focus,
      .custom-underline:active {
        text-decoration: none;
      }

      .custom-underline::after {
        content: "";
        position: absolute;
        top: $bue-bar-top;
        height: $bue-bar-height;
        width: $bue-bar-width;
        left: (100% - $bue-bar-width)/2;
        background-color: $bue-bar-color;
      }
    }
  }

  .stop1 {
    stop-color: $c-background-dark;
  }

  .stop2 {
    stop-color: #757575;
  }
}