<section class="s-intro">
  <div class="panel animation panel-right">
    <div class="contain">
      <div class="txt">
        <h1>{{titleInfos.h1}}</h1>
        <h5>{{titleInfos.h5}}</h5>
        <button (btnClicked)="goToLink()">Savoir plus</button>
      </div>
    </div>
    <svg viewBox="0 0 500 500" preserveAspectRatio="none">
      <polygon class="triangle triangle-screen on-left" points="500,0 500,500 0,500 200,0" />
      <polygon class="triangle triangle-responsive on-left" points="500,0 500,500 0,500" />
    </svg>
  </div>
</section>