@import "_variables-dir";

/*******************************
 * section-Intro
 *******************************/
$intro-bkg-color: $c-primary;
$intro-txt-color: $c-secundary-light;
$intro-bkg-opacity: 0.8;
$intro-panel-l-width: 60%;
$intro-triangle-width: 220px;
$intro-transition-duration: 1.5s;
$intro-transition-delay: 0.5s;
$intro-ctn-top: 80%;

$color1: rgba(0, 0, 0, 0.7);
$color1Stop: 0%;
$color2: rgba(255, 255, 255, 0);
$color2Stop: 50%;
$angle: 90deg;

:host {
  .s-intro {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    // height: calc(100vh - #{$header-bottom-height});
    height: calc(100vh);

    padding: 0;

    .txt {
      position: relative;
      width: 110%;
      top: $intro-ctn-top;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 2;

      h1,
      h5 {
        text-shadow: 0px 1px 2px $c-text-dark;
      }

      h1 {
        color: $c-text-light;
        margin-bottom: 0px;
      }

      h5 {
        margin: 10px 0 20px 0;
        color: $c-primary;
        font-family: "Montserrat-Light";
        text-transform: uppercase;
      }

      .btn-cartoon-ctn {
        position: relative;
        left: -12px;
      }
    }
  }
}

@media only screen and (min-width: $min-width-l) {
  :host {
    .s-intro {
      .txt {
        h1 {
          margin-bottom: 0px;
        }

        h5 {
          margin: 50px 0;
        }

        .btn-cartoon-ctn {
          top: 100px;
        }
      }

      svg {
        .triangle {
          &.triangle-responsive {
            display: none;
          }

          &.triangle-screen {
            display: block;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1190px) {
  :host {
    .s-intro {
      .panel {
        width: $intro-panel-l-width;
      }
    }
  }
}