@import "_variables-dir";

/*******************************
 * section-Intro
 *******************************/
$intro-bkg-color: $c-primary;
$intro-txt-color: $c-secundary-light;
$intro-bkg-opacity: 0.8;
$intro-panel-l-width: 60%;
$intro-triangle-width: 220px;
$intro-transition-duration: 1.5s;
$intro-transition-delay: 0.5s;
$intro-ctn-top: 85%;

$color1: rgba(0, 0, 0, 0.7);
$color1Stop: 0%;
$color2: rgba(255, 255, 255, 0);
$color2Stop: 50%;
$angle: 90deg;

:host {
  .s-intro {
    // height: calc(100vh - #{$header-bottom-height});
    height: calc(100vh);

    padding: 0;

    .title-txt {
      position: relative;
      width: 100%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 2;

      // Par défault
      top: $intro-ctn-top;
      left: 50%;

      // Right
      &.right {
        transform: translateY(-50%);
        top: 50%;
        width: 50%;
      }

      &.left {
        transform: translateY(-50%);
        top: 50%;
        width: 50%;
        left: 0;
      }

      &.top {
        top: 100% - $intro-ctn-top;
      }

      &.bottom {
        top: $intro-ctn-top;
      }

      .btn-cartoon-ctn {
        position: relative;
        left: -12px;
      }
    }
  }
}

@media only screen and (min-width: $min-width-l) {
  :host {
    .s-intro {
      .title-txt {
        .btn-cartoon-ctn {
          top: 100px;
        }
      }

      svg {
        .triangle {
          &.triangle-responsive {
            display: none;
          }

          &.triangle-screen {
            display: block;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1190px) {
  :host {
    .s-intro {
      .panel {
        width: $intro-panel-l-width;
      }
    }
  }
}