<app-section-g2s></app-section-g2s>
<p>
  page-home works!
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut culpa, soluta quod rem assumenda fugit iure maxime
  accusantium veritatis velit. Rem sit cum blanditiis inventore nulla aliquam molestias porro perspiciatis.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quo inventore exercitationem harum quidem, impedit illum
  tenetur, eaque nobis eum tempora praesentium vero atque, ea saepe nisi assumenda perspiciatis? Itaque.
  Porro laudantium odio cumque suscipit eaque modi nobis totam velit consectetur vitae consequatur iure ullam quo
  numquam, vel sapiente eveniet soluta voluptates non nesciunt molestias aliquam fugiat. Maiores, minus odio!
  Nesciunt, voluptas. Quis voluptatem voluptas tenetur! Sint quam quasi enim deserunt possimus officiis. Vero, quod!
  Iste vero repellat facere consequatur voluptatibus dolorum dolorem similique blanditiis dolor repudiandae. Sequi,
  fugit temporibus.
  Vitae suscipit perferendis necessitatibus, aliquam cum deserunt explicabo ullam eos ab. Autem iste nemo assumenda
  repellat distinctio dolores eligendi, ut placeat ratione nihil temporibus, quos, totam sint dolorem harum!
  Exercitationem!
  Asperiores illo quas eius explicabo ipsam laborum veritatis, nulla suscipit adipisci sed quam iure, unde sapiente
  culpa molestias officia. Nesciunt eaque explicabo laudantium minima voluptate consequuntur, libero quibusdam fugiat
  aspernatur?
</p>