@import "_variables-dir";

$seec-pres-bloc-margin-b: 60px;
$seec-pres-bloc-title-b: 40px;

:host {
  .section-seec-elt.elt-presentation {
    .bloc-txt {
      margin-bottom: $seec-pres-bloc-margin-b;

      h3 {
        margin-bottom: $seec-pres-bloc-title-b;
      }
    }

    .video-youtube ::ng-deep iframe {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}