<section class="section-seec-elt elt-presentation">
  <app-section-title-bkg-blk>Le Sport a l'école</app-section-title-bkg-blk>
  <div class="section-container">
    <div class="bloc-txt">
      <h3>L'exercice physique à l'école</h3>
      <p>
        Le sport est une matière à part entière, avec ses objectifs
        pédagogiques propres, et qui dispose dès le collège d'heures de cours
        et d'enseignants différenciés. Dès la première année de sa scolarité
        il est donc nécessaire proposée vos élèves une initiation au sport.
      </p>
    </div>
    <div class="bloc-txt">
      <h3>Les objectifs pédagogiques</h3>
      <p>
        Le but du sport à la maternelle (cycle 1) et en primaire (cycle 2-3)
        est de faire découvrir à l'enfant, de nouvelles activités sportives et
        développé des savoirs faires de cette activité par le biais de jeux
        sportifs, les actions motrices essentielles, c'est-à-dire: les
        déplacements, l'équilibre, les manipulations (tirer, pousser…), les
        lancers et réceptions d'objets mais aussi l'endurance, le sens du
        collectif et l'intelligence stratégique.
      </p>
    </div>
    <div class="bloc-txt">
      <h3>Vidéo de présentation</h3>
      <app-video class="video-youtube" [videoId]="videoId"></app-video>
    </div>
  </div>
</section>