@import 'compass-mixins';
@import '_functions';
@import './variables/variables-dir';
@import './mixins/mixins-dir';
@import './common/common-dir';

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

a {
  color: inherit;
  cursor: pointer;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

body {
  position: relative;
  line-height: 1.5;
  letter-spacing: 0.05em;

  /* Scrollbar*/
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 7px;
  }
}

ul {
  list-style-type: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  border: none;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

.page-pc,
.page-ml {
  a {
    text-decoration: underline;
    font-style: italic;
  }
}