<div class="header screen" [class.scrolled]="userHasScrolled">
  <div class="div-logo">
    <!-- <div class="menu-square"></div> -->
    <app-svg-logo (click)="goToTop()"></app-svg-logo>
  </div>
  <nav class="nav">
    <div *ngFor="let navItem of lstPagesNav">
      <!-- <a [routerLink]="navItem.path" class="nav-item" routerLinkActive="router-link-exact-active">
        {{navItem.data.displayName}}
      </a> -->
      <a (click)="navigateToAnchor(navItem.data.anchor!)" class="nav-item" routerLinkActive="router-link-exact-active">
        {{navItem.data.displayName}}
      </a>
    </div>
  </nav>
</div>