@import "_variables-dir";
@import "_functions";

:host .header.screen {
  display: none;

  position: fixed;
  width: 100%;
  height: $header-bottom-height;
  top: 0;

  z-index: 10;

  .nav {
    position: relative;
    top: 0;

    width: 100%;
    height: $header-bottom-height;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    padding: 10px 10px 10px 0;
    transition: background-color $animation-duration;

    .nav-item {
      padding: 5px 0;
      margin: 0 10px;
      font-family: $font-txt, sans-serif;
      transition: color $animation-duration;
      color: $header-txt-color;
      letter-spacing: 0.01em;
      font-size: rem(23);

      &:hover,
      &.active,
      &.router-link-exact-active {
        color: $header-txt-hover-color !important;
        cursor: pointer;
      }
    }
  }

  .div-logo {
    position: absolute;

    transition: transform $animation-duration ease;
    transform: scale(1);
    box-shadow: 1px 2px 3px $c-box-shadow-light;
    background-color: $c-background-light;
    z-index: 1;
    cursor: pointer;

    // Square
    width: $header-img-square-size;
    height: $header-img-square-size;
    top: $header-img-square-position-top;
    left: $header-img-square-position-left;

    // circle
    width: $header-img-circle-size;
    height: $header-img-circle-size;
    top: $header-img-circle-position-top;
    left: $header-img-circle-position-left;
    border-radius: 50%;

    // .menu-square {
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   transform: rotate($header-img-square-rotation);
    //   z-index: 2;
    //   box-shadow: 1px 2px 3px $c-box-shadow-light;
    //   background-color: $c-background-light ;
    // }

    .svg-logo {
      position: absolute;
      bottom: $header-img-position-bottom;
      left: $header-img-position-left;
      width: $header-img-size;
      z-index: 3;

      bottom: $header-img-circle-svg-position-bottom;
      left: $header-img-circle-svg-position-left;
    }
  }

  &.scrolled {
    .nav {
      background-color: $c-background-light;

      .nav-item {
        color: $c-text-dark;
      }
    }

    .div-logo {
      transform: scale(0.78);
    }
  }
}

/* ---------------------- Media query ----------------------------*/

@media only screen and (min-width: $min-width-m) {
  :host .header.screen {
    display: inline-block;
  }
}

@media only screen and (min-width: $min-width-l) {
  :host .header.screen .nav .nav-item {
    margin: 0 30px;
    font-size: $header-txt-size-l;
  }
}