/**************************************************************
** Fonts
***************************************************************/
@font-face {
  font-family: "Celliad";
  src: url("/assets/fonts/Celliad.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("/assets/fonts/Montserrat-Light.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura-CondensedLight";
  src: url("/assets/fonts/Futura-CondensedLight.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/************************
** Titles
*************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-align: center;
  color: $c-primary;
}

h1 {
  font-size: rem(45);
  color: $c-text-light;
  margin: 20px 0;
  text-shadow: 0px 1px 2px $c-text-dark;

  @media only screen and (min-width: $min-width-m) {
    font-size: rem(50);
  }

  @media only screen and (min-width: $min-width-l) {
    font-size: rem(70);
  }
}

h2 {
  font-size: rem(32);
  margin: 10px 0;
  color: $c-primary;
  font-family: "Montserrat-Light";
  text-transform: uppercase;
  text-shadow: 0px 1px 2px $c-text-dark;

  @media only screen and (min-width: $min-width-l) {
    margin: 20px 0;
  }
}

h3 {
  font-size: rem(26);
  color: $c-primary;
  font-family: "Montserrat-Light";

  @media only screen and (min-width: $min-width-m) {
    font-size: rem(30);
  }
}

h4 {
  font-size: rem(18);
  margin: 20px 0 10px 0;
  color: $c-primary;
  font-family: "Montserrat-Light";

  @media only screen and (min-width: $min-width-m) {
    font-size: rem(22);
  }
}

h5 {
  font-size: rem(20);

  @media only screen and (min-width: $min-width-xs) {
    font-size: rem(30);
  }

  @media only screen and (min-width: $min-width-s) {
    font-size: rem(35);
  }
}

h6 {
  font-size: rem(15);
  margin: 10px 0 20px 0;
  color: $c-primary;
  font-family: "Montserrat-Light";
  text-transform: uppercase;
  text-shadow: 0px 1px 2px $c-text-dark;

  @media only screen and (min-width: $min-width-l) {
    margin: 20px 0;
  }
}

/************************
** Paragraphes
*************************/
p,
span {
  font-family: $font-txt, sans-serif;
  font-size: $base-size-font-txt-s;
  line-height: 1.5;
  letter-spacing: 0.05em;

  color: $c-text-dark;
  text-align: center;

  &.small {
    font-size: $base-size-font-txt-xs;
    line-height: 1.3;
    letter-spacing: 0.04em;
  }

  @media only screen and (min-width: $min-width-s) {
    font-size: $base-size-font-txt-m;

    &.small {
      font-size: $base-size-font-txt-s;
    }
  }

  @media only screen and (min-width: $min-width-m) {
    font-size: $base-size-font-txt-l;

    &.small {
      font-size: $base-size-font-txt-l;
      line-height: 1.5;
      letter-spacing: 0.05em;
    }
  }
}