section,
.section {
  margin: 0;
  padding-top: $section-padding-tb;
  padding-bottom: $section-padding-tb;
  padding-left: $section-padding-lr;
  padding-right: $section-padding-lr;

  .section-container {
    width: 100%;
    padding: $section-container-padding-tb $section-container-padding-lr;
  }

  @media only screen and (min-width: $min-width-l) {
    .section-container {
      width: 75%;
      margin: auto;
    }
  }
}

.primary-background {
  background-color: $c-primary;
  color: $dark;

  h2,
  h3,
  h4,
  h6 {
    color: $light;
  }
}

.light-background {
  background-color: $c-background-light;
  color: $dark;
}

.dark-background {
  background-color: $c-tertiary-dark;

  p {
    color: $light;
  }
}

.section-special-container {
  padding: 50px 15px;

  p,
  h3 {
    text-align: left;
  }

  h3 {
    margin-bottom: $section-h3-padding-b;
  }

  .text {
    margin-bottom: 50px;
  }

  .picture {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 90vh;

    .frame {
      border: 15px solid $light;
      width: 100%;
      height: 100%;
      transform: scale(0.92);
      position: absolute;
      top: 0;
    }

  }

  .button {
    margin-top: 40px;
  }
}

$section-half-text-with: 55%;
$text-padding-right: 20px;

@media only screen and (min-width: $min-width-l) {
  .section-special-container {
    width: 75%;
    margin: auto;
    max-height: 100vh;
    display: grid;
    grid-template-columns: [first] $section-half-text-with [line2]100% - $section-half-text-with;
    grid-template-rows: [row1-start] auto [row1-end] auto [third-line];

    h3 {
      grid-column: 1 / span 2;
      font-size: rem(40);
    }

    .text {
      padding-right: $text-padding-right;
      margin-bottom: auto;
      height: 100%;

      .text-container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

@media only screen and (min-width: $min-width-xl) {
  .section-special-container {
    grid-template-rows: [row1-start] 15% [row1-end] auto [third-line];

    h3 {
      grid-column: 1;
      font-size: rem(45);
      padding-right: $text-padding-right;
    }

    .text {
      grid-row: 2;

      .text-container {
        top: 20%;
        transform: none;
      }
    }

    .picture {
      grid-row: 1 / span 2;
    }
  }
}