<section class="section-special section-pres-magie">
  <h3>
    Le Magicien du Rire et de l'Incompréhension !
  </h3>
  <div class="text">
    <div class="text-container">
      <p>
        Êtes-vous prêt à vivre une expérience unique, où le rire et l'incompréhension se rencontrent dans un tourbillon
        magique?
      </p>
      <br>
      <p>
        Faites place à Ronan Calvary, le magicien professionnel spécialisé dans le mentalisme décalé.
      </p>
      <br>
      <p>
        Préparez-vous à un voyage fascinant à travers les mystères de l'esprit et de l'impossible !
      </p>
      <app-button [btnInfos]="btnInfos"></app-button>
    </div>
  </div>
  <div class="picture">
    <div class="frame"></div>
  </div>
</section>