<div id="app">
  <header id="header" class="s-header">
    <div id="fake-elt" class="fake-elt"></div>
    <app-nav></app-nav>
    <app-nav-responsive></app-nav-responsive>
  </header>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <!-- <transition class="container" name="fade-height" mode="out-in" @beforeLeave="beforeLeave" @enter="enter"
    @afterEnter="afterEnter">
    <router-view></router-view>
  </transition> -->
  <app-footer></app-footer>
  <!-- <CookieBar></CookieBar> -->
</div>