<div class="ctn-vignette">
  <div class="vignette-text-title">
    <div class="activity-logo">
      <app-svg-fitness *ngIf="isFitness()" />
      <app-svg-fitness *ngIf="isEntex()" />
      <app-svg-combat *ngIf="isCombat()" />
      <app-svg-sport-co *ngIf="isSportCo()" />
      <app-svg-raquettes *ngIf="isRaquette()" />
      <app-svg-outdoor *ngIf="isOutdoor()" />
    </div>
    <h5>{{activity.title}}</h5>
  </div>
  <!-- <transition name="slide"> -->
  <div [class]="classVignette()" [style.height]="calcHeight()">
    <div class="vignette-text">
      <div class="txt-sports">
        <div *ngFor="let sport of activity.sports">
          <p class="small">{{sport.name}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- </transition> -->
</div>