<section class="section section-contact">
  <div class="section-title">
    <h1>Nous contacter</h1>
  </div>
  <div class="section-container">
    <p>Pour tous renseignements, questions ou devis</p>
    <p>N’hésitez pas à nous contacter au</p>
    <p>06 63 43 42 80</p>
    <form @submit.prevent="onSubmit()">
      <div class="formSection">
        <label for="firstname">Votre nom</label>
        <input type="text" required id="firstname" name="firstname">
      </div>
      <div class="formSection">
        <label for="email">Votre email</label>
        <input type="email" required id="email" name="email" placeholder="votre@email.com">
      </div>
      <div class="formSection">
        <label for="message">Votre message</label>
        <textarea name="message" required></textarea>
      </div>
      <div class="formSection">
        <button type="submit">Envoyer votre email</button>
      </div>
    </form>
  </div>
</section>
