<footer class="section footer">
  <div class="footer-item div-image">
    <img class="footer-img" src="./assets/img/logos/Go2Sport_Logo-website-bg-black.png"
      alt="logo mini Magie Pour Tous" />
  </div>
  <!-- <div class="footer-item">
    <ul class="social-icons">
      <li>
        <a href="" target="_blank"
          title="lien vers le facebook de Magie Pour Tous">
          <app-svg-facebook />
        </a>
      </li>
      <li>
        <a href="" target="_blank" title="lien vers l'instagram de Magie Pour Tous">
          <app-svg-instagram />
        </a>
      </li>
      <li>
        <a href="" target="_blank"
          title="lien vers le linkedin de Damien LE BELLEC">
          <app-svg-linkedin />
        </a>
      </li>
    </ul>
  </div> -->
  <div class="footer-item">
    <h3>Contactez-nous</h3>
    <ul class="contact-infos">
      <li class="contact-info phone">
        <app-svg-phone />
        <p>06 09 75 16 66 - 02 99 69 89 84</p>
      </li>
      <li class=" contact-info email">
        <app-svg-email />
        <p>ronancalvari@gmail.com</p>
      </li>
    </ul>
  </div>
</footer>