@import "variables-dir";
@import 'mixins-dir';
@import 'functions';

/*******************************
 * Variables Footer
 *******************************/
$footer-border-color: $c-primary !default;
$footer-title-color: $c-primary !default;
$footer-txt-color: $c-secundary-light !default;
$footer-img-width: 250px !default;

/*******************************
 * Style Footer
 *******************************/

:host {
  .footer.section {
    position: relative;
    padding: 50px 10px;
    background-color: $c-secundary-dark;
    background-image: url("/assets/img/footer-small.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    box-shadow: inset 0 0 0 1000px rgba($c-secundary-dark, 0.9);

    transition: transform ease $animation-duration;

    .footer-item {
      color: $c-text-light;

      &.logo {
        margin: auto;
        background-color: $c-text-light;
        border-radius: 50%;
        width: 150px;
        margin-bottom: 20px;

        ::ng-deep svg {
          scale: 0.85;
        }
      }

      p {
        color: $c-text-light;
      }

      .social-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 10px;

        li {
          margin-right: 10px;

          &:last-child {
            margin-right: 0px;
          }
        }
      }

      &.enterprise-infos {
        display: flex;
        justify-content: space-between;

        li p {
          font-size: 12px;
        }
      }
    }
  }
}

/* ---------------------- Media query ----------------------------*/
@media only screen and (min-width: $min-width-m) {
  :host {
    .footer.section {
      background-image: url("/assets/img/footer.jpg");

      .footer-item.enterprise-infos {
        margin: auto;
        width: $section-container-width;
      }
    }
  }
}