<footer class="section footer">
  <div class="footer-item div-image">
    <img class="footer-img" src="./assets/img/logos/Go2Sport_Logo-website-bg-black.png" alt="logo mini Go2Sport 29" />
  </div>
  <div class="footer-item">
    <ul class="social-icons">
      <li>
        <a href="https://www.facebook.com/Go2Sport-102947537742789/" target="_blank"
          title="lien vers le facebook de Go2sport 29">
          <app-svg-facebook />
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/go2sport29/" target="_blank" title="lien vers l'instagram de Go2sport 29">
          <app-svg-instagram />
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/damien-le-bellec-8a6823175/" target="_blank"
          title="lien vers le linkedin de Damien LE BELLEC">
          <app-svg-linkedin />
        </a>
      </li>
    </ul>
  </div>
  <div class="footer-item">
    <h3>Contactez-nous</h3>
    <ul class="contact-infos">
      <li class="contact-info phone">
        <app-svg-phone />
        <p>06 63 43 42 80</p>
      </li>
      <li class=" contact-info email">
        <app-svg-email />
        <p>go2sport29@gmail.com</p>
      </li>
      <li class="contact-info address">
        <app-svg-address />
        <div class="text-address">
          <p>28 rue de Kervern</p>
          <p>29190 Pleyben</p>
        </div>
      </li>
    </ul>
  </div>
  <nav class="nav footer-item">
    <a [routerLink]="pageMentionsLegales" class="nav-item">
      Mentions légales
    </a>
    <a [routerLink]="pagePolitiqueConfidentialite" class="nav-item">
      Politique de confidentialité
    </a>
  </nav>
</footer>