<footer class="section footer">
  <div class="footer-item logo">
    <app-svg-logo (click)="goToTop()"></app-svg-logo>
  </div>
  <!-- <div class="footer-item">
    <ul class="social-icons">
      <li>
        <a href="" target="_blank"
          title="lien vers le facebook de Magie Pour Tous">
          <app-svg-facebook />
        </a>
      </li>
      <li>
        <a href="" target="_blank" title="lien vers l'instagram de Magie Pour Tous">
          <app-svg-instagram />
        </a>
      </li>
      <li>
        <a href="" target="_blank"
          title="lien vers le linkedin de Damien LE BELLEC">
          <app-svg-linkedin />
        </a>
      </li>
    </ul>
  </div> -->
  <div class="footer-item">
    <div class="item-groupe">
      <h3>CONTACTEZ-NOUS</h3>
      <p>Parlons ensemble de votre événement</p>
    </div>
    <div class="item-groupe">
      <h4>CONTACT ARTISTE :</h4>
      <p>06 09 75 16 66 - 02 99 69 89 84</p>
      <p>ronancalvari@gmail.com</p>
    </div>
    <div class="item-groupe">
      <h4>CONTACT ADMINISTRATION ET PRODUCTION :</h4>
      <p>Show Me The Sound</p>
      <p>32 La Lodinais - 35460 TREMBLAY</p>
    </div>
    <div class="item-groupe">
      <h1>Ronan Calvary</h1>
      <h2>MAGIE POUR TOUS</h2>
    </div>
  </div>
  <ul class="footer-item enterprise-infos">
    <li>
      <p>SIRET: 52242223700019</p>
    </li>
    <li>
      <p>N° URSSAF: 350 5030 3461 31</p>
    </li>
    <li>
      <p>Code APE: 9001Z</p>
    </li>
    <li>
      <p>LICENCES: 1036885 </p>
    </li>
  </ul>
</footer>