@import "_variables-dir";

:host {
  .p-contact.section {
    height: calc(100vh - #{$header-bottom-height});
    padding: 0;

    .section-container {
      width: 100%;
      height: 100%;
      padding: 0;

      .p-contact-section {
        padding-left: $form-section-padding-lr;
        padding-right: $form-section-padding-lr;


        &.section-infos {
          padding-top: $section-padding-tb/2;
          padding-bottom: $section-padding-tb;
          background-color: $form-section-infos-bkg-color;

          h2,
          h3 {
            color: $s-infos-title-color;
          }

          p {
            text-align: center;
          }

          .contact-infos-item {
            position: relative;

            h3 {
              margin-top: 25px;
            }

            ul {
              width: 50%;
              margin: auto;
              display: flex;
              flex-direction: row;
              justify-content: center;

              li {
                margin: 0 10px;
                width: $s-infos-svg-size;
              }
            }
          }
        }
      }
    }
  }

}

/* ---------------------- Media query ----------------------------*/
@media only screen and (min-width: $min-width-l) {
  :host {
    .p-contact.section {
      .section-container {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;

        .p-contact-section {

          &.section-infos {
            padding-left: $form-section-fs-padding-lr;
            padding-right: $form-section-fs-padding-lr;
            padding-top: $section-padding-tb;
            padding-bottom: $section-padding-tb;
          }

          &.section-infos {
            width: 100%;
          }
        }
      }
    }
  }
}