<section class="p-contact section">
  <div class="section-container">
    <div class="p-contact-section section-infos">
      <h2 class="bkg-light">Contact</h2>
      <div>
        <p>Pour tous renseignements, questions ou devis</p>
        <p>N'hésitez pas à nous contacter</p>
        <div class="contact-infos-item item-address">
          <h3>Adresse</h3>
          <p>28 rue de Kervern</p>
          <p>29190 Pleyben</p>
        </div>
        <div class="contact-infos-item item-phone">
          <h3>Téléphone</h3>
          <p>06 63 43 42 80</p>
        </div>
        <div class="contact-infos-item item-social-icons">
          <h3>Nos réseaux sociaux</h3>
          <ul>
            <li>
              <a href="https://www.facebook.com/Go2Sport-102947537742789/" target="_blank"
                title="lien vers le facebook de Go2sport 29">
                <app-svg-facebook />
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/go2sport29/" target="_blank"
                title="lien vers l'instagram de Go2sport 29">
                <app-svg-instagram />
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/damien-le-bellec-8a6823175/" target="_blank"
                title="lien vers le linkedin de Damien LE BELLEC">
                <app-svg-linkedin />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>