@import "_variables-dir";

:host {
  .p-contact {
    position: relative;
    min-height: 100vh;
    background-color: $c-secundary-dark;
    background-image: url("/assets/img/contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    box-shadow: inset 0 0 0 1000px rgba($c-secundary-dark, 0.8);

    padding-top: $header-bottom-height;
    padding-bottom: 0;

    .p-contact-item {
      .svg-logo {
        display: block;
        margin: auto;
        width: 150px;
        margin-bottom: 20px;
        background-color: $light;
        border-radius: 50%;

        ::ng-deep svg {
          scale: 0.85;
        }
      }

      &.infos {
        padding-top: $header-bottom-height;
        padding-bottom: $header-bottom-height;

        p {
          color: $light;
        }

        .enterprise-infos {
          li p {
            font-size: 12px;
          }
        }
      }
    }
  }
}

/* ---------------------- Media query ----------------------------*/
@media only screen and (min-width: $min-width-l) {
  :host {
    .p-contact {
      background: none;
      box-shadow: none;
      height: 100vh;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      flex-direction: row-reverse;

      .p-contact-item {
        width: 50%;

        &.img {
          position: relative;
          background-color: $c-secundary-dark;
          background-image: url("/assets/img/contact.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: bottom;
          box-shadow: inset 0 0 0 1000px rgba($c-secundary-dark, 0.6);
          max-height: 100vh;
        }


        &.infos {
          padding: 0 30px;

          p {
            color: $dark;
          }

          .enterprise-infos {
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
}