<section class="page-pc">
  <div class="section-container">
    <h2>Politique de confidentialité</h2>
    <p>
      Soucieux du respect de la vie privée de ses Utilisateurs, Go2Sport 29
      s'engage à assurer la protection des données personnelles de ses
      Utilisateurs. Par conséquent, aucune donnée transmise par
      l'intermédiaire de notre site ne pourra être consultée par un tiers non
      autorisé. Go2Sport 29 prend toutes les précautions utiles pour préserver
      la sécurité de ces données et notamment, empêcher qu'elles soient
      déformées ou endommagées.
    </p>
    <h3>1. Définitions.</h3>
    <p>
      – Donnée personnelle : toute information relative à une personne
      physique identifiée ou qui peut être identifiée, directement ou
      indirectement, par référence à un numéro d'identification ou à un ou
      plusieurs éléments qui lui sont propres.
    </p>
    <p>
      – Utilisateur : toute personne physique majeure capable, ou toute
      personne morale, utilisant les services qui sont proposés sur le Site
      legalpace.fr, pouvant être soit un particulier, soit un professionnel.
    </p>

    <h3>2. Collecte et diffusion des données personnelles.</h3>
    <p>
      Go2Sport 29 est susceptible de collecter des données personnelles liées à
      l'Utilisateur notamment lors :
    </p>
    <p>– de la navigation sur le Site</p>
    <p>– d'une demande de renseignement ou de prise de contact</p>
    <p>– de la rédaction d'un commentaire</p>
    <p>
      – de l'inscription à la newsletter Les informations susceptibles d'être
      collectées par Go2Sport 29 sont celles ayant trait à l'identité de
      l'Utilisateur, à ses coordonnées postales et/ou électroniques, à un
      numéro de carte bancaire ou encore à des données de connexion. Toutes
      les données à caractère personnel recueillies par Go2Sport 29 sont
      obligatoires et nécessaires pour bénéficier des Services proposés par Go
      2 Sport. Chaque donnée collectée par la Société est en accord avec la ou
      les finalités poursuivies. L'ensemble des données personnelles ainsi
      recueillies par Go2Sport 29 peuvent être transmises à des prestataires
      extérieurs afin d'assurer le bon fonctionnement des Services, notamment
      le traitement effectif du paiement. Lors d'un paiement en ligne, toutes
      les données personnelles transmises sont protégées.
    </p>

    <h3>3. Conservation des données personnelles.</h3>
    <p>
      Les données personnelles de l'Utilisateur sont conservées jusqu'à leur
      suppression à la demande de l'Utilisateur ou par la Société. Go2Sport 29
      conservera dans ses systèmes informatiques et dans des conditions
      raisonnables de sécurité une preuve de la transaction comprenant le bon
      de commande et la facture conformément aux dispositions du Code de
      commerce relatives à la durée de conservation des livres et documents
      créés à l'occasion d'activités commerciales et du Code de la
      consommation relatives à la conservation des contrats conclus par voie
      électronique, en l'occurrence dix ans.
    </p>

    <h3>4. Hébergement des données personnelles.</h3>
    <p>
      Le site Go2Sport.fr est hébergé par o2switch Adresse: 222-224 Boulevard
      Gustave Flaubert 63000 Clermont-Ferrand Téléphone: +33 4 44 44 60 40 Le
      stockage des données personnelles des Utilisateurs est exclusivement
      réalisé sur les centres de données (« clusters ») localisés dans des
      Etats membres de l'Union Européenne de la société Agence Web Bretagne.
    </p>

    <h3>
      5. Droit d'accès et de suppression des données personnelles par
      l'Utilisateur.
    </h3>
    <p>
      Go2Sport 29 informe l'Utilisateur qu'elle peut être amenée à utiliser des
      cookies. Ce dernier accepte expressément l'utilisation des cookies en
      poursuivant sa navigation sur le site. Un cookie est un fichier texte
      susceptible d'être enregistré dans un terminal lors de la consultation
      d'un service en ligne avec un logiciel de navigation. Un fichier cookie
      permet à son émetteur, pendant sa durée de validité, de reconnaître le
      terminal concerné à chaque fois que ce terminal accède à un contenu
      numérique comportant des cookies du même émetteur. Les cookies émis par
      Go2Sport 29 lue me design nous permettent :
    </p>
    <p>
      - d'établir des statistiques et volumes de fréquentation et
      d'utilisation des diverses éléments composant notre Site, nous
      permettant d'améliorer la configuration, l'intérêt, le design et
      l'ergonomie de nos services
    </p>
    <p>
      - d'adapter la présentation de notre Site aux préférences d'affichage de
      votre terminal (langue utilisée, résolution d'affichage, système
      d'exploitation utilisé, etc) lors de vos visites sur notre Site, selon
      les matériels et les logiciels de visualisation ou de lecture que votre
      terminal comporte
    </p>
    <p>
      - de mémoriser des informations relatives à des produits, services ou
      informations que vous avez choisis sur notre Site (contenu d'un panier
      de commande, etc.)
    </p>
    <p>
      Vous pouvez à tout moment configurer votre logiciel de navigation de
      manière à ce que des cookies soient enregistrés dans votre terminal ou,
      au contraire, qu'ils soient rejetés (soit systématiquement, soit selon
      leur émetteur). Vous pouvez également configurer votre logiciel de
      navigation de manière à ce que l'acceptation ou le refus des cookies
      vous soient proposés ponctuellement, avant qu'un cookie puisse être
      enregistré dans votre terminal. Attention : tout paramétrage est
      susceptible de modifier votre navigation sur Internet et vos conditions
      d'accès à certains services nécessitant l'utilisation de cookies. Pour
      la gestion des cookies et de vos choix, la configuration de chaque
      navigateur (Internet Explorer, Firefox, Safari, Google Chrome) est
      différente. Elle est décrite dans le menu d'aide de votre navigateur,
      qui vous permettra de savoir de quelle manière modifier vos souhaits en
      matière de cookies. Vous trouverez ci-dessous des informations
      concernant les principaux navigateurs.
    </p>

    <h3>6. Google Analytics.</h3>
    <p>
      Go2Sport 29 utilise les fonctions du service d'analyse web Google
      Analytics (Google Inc., 1600 Amphitheatre Parkway Mountain View, CA
      94043, USA). Google Analytics utilise des cookies. Les informations
      générées par les cookies relatives à votre utilisation de notre site
      seront en principe transmises à un serveur de Google aux Etats-Unis et
      enregistrées sur ce dernier. Si l'Utilisateur ne souhaite pas
      transmettre d'informations à Google Analytics, il a la possibilité de
      télécharger et d'installer ce module sur son navigateur Web.
      L'Utilisateur peut télécharger le module de désactivation de Google
      Analytics en cliquant sur ce lien :
      <a target="_blank" href="https://tools.google.com/dlpage/gaoptout?hl=fr">Google Tool</a>. Pour plus d'informations
      au sujet de la confidentialité et de la
      sécurité liées à Google Analytics, l'Utilisateur peut cliquer sur le
      lien suivant :
      <a target="_blank" href="https://support.google.com/analytics/answer/6004245?hl=fr">Google Analytics</a>
      .
    </p>

    <h3>7. Google AdWords Conversion-Tracking.</h3>
    <p>
      Go2Sport 29 utilise le programme publicitaire en ligne « Google AdWords »
      et le suivi des conversions. Le suivi des conversions Google est un
      service d'analyse de Google Inc. (1600 Amphitheatre Parkway Mountain
      View, CA 94043, USA). Si l'Utilisateur ne souhaite pas participer à ce
      suivi, il peut refuser cette utilisation en configurant son navigateur.
      Plus d'informations à ce sujet :
      <a target="_blank" href="https://www.google.com/intl/fr/policies/technologies/ads/">Google AdWords</a>
      .
    </p>
  </div>
</section>