<div class="sticker-ctn">
  <div class="sticker-icon">
    <app-svg-circle />
    <app-svg-bien-etre *ngIf="isBienEtre()" />
    <app-svg-productivite *ngIf="isProductivite()" />
    <app-svg-rentabilite *ngIf="isRentabilite()" />
    <app-svg-entreprise *ngIf="isEntreprise()" />
    <app-svg-financier *ngIf="isFinancier()" />
    <app-svg-one-hour *ngIf="isOneHour()" />
    <app-svg-materiel *ngIf="isMateriel()" />
    <app-svg-deplacement *ngIf="isDeplacement()" />
    <app-svg-water *ngIf="isWater()" />
    <app-svg-formation *ngIf="isFormation()" />
    <app-svg-suivi *ngIf="isSuivi()" />
    <app-svg-cycles *ngIf="isAdaptation()" />
  </div>
  <div class="sticker-txt">
    <h4>{{sticker.title}}</h4>
    <div *ngFor="let txt of  sticker.lstTxt">
      <p>{{txt}}</p>
    </div>
  </div>
</div>