@import "_functions";

/*******************************
** Variables Fonts
********************************/
$font-title: "Celliad";
$font-sub-title: "Montserrat-Light";
$font-txt: "Futura-CondensedLight";

$base-size-font-txt-xs: rem(14);
$base-size-font-txt-s: rem(18);
$base-size-font-txt-m: rem(20);
$base-size-font-txt-l: rem(24);
$base-size-font-txt-xl: rem(26);

$header-txt-responsive-size: rem(30);