/*******************************
 * General
 *******************************/
$section-padding-tb: 100px;
$section-padding-lr: 0px;
$section-container-padding-tb: 10px;
$section-container-padding-lr: 10px;
$section-container-width: 70%;
$background-image: "../assets/img/Background.png";
$background-color: $c-primary;

$vignette-border-width: 2px;

/*******************************
 * Header
 *******************************/
$header-txt-color: $light;
$header-txt-hover-color: $c-primary;
$header-txt-size-m: $base-size-font-txt-m;
$header-txt-size-l: $base-size-font-txt-xl;
$header-bottom-height: 50px;
$header-responsive-nav-height: 100vh;
$header-img-square-rotation: -54deg;
$header-img-square-size: 300px;
$header-img-square-position-top: -160px;
$header-img-square-position-left: -75px;
$header-img-size: 56%;
$header-img-position-left: 80px;
$header-img-position-bottom: -30px;

$header-img-circle-size: 220px;
$header-img-circle-position-top: -60px;
$header-img-circle-position-left: -55px;
$header-img-circle-svg-position-left: 66px;
$header-img-circle-svg-position-bottom: 20px;

/*******************************
 * Page Contact
 *******************************/


/*******************************
 * Card
 *******************************/
$card-font-size: 16px;
$card-background: #fff;
$card-padding: 4px;
$card-width: 180px;
$card-height: 260px;
$card-symbol-size: 40px;