/*******************************
 * General
 *******************************/
$section-padding-tb: 100px;
$section-padding-lr: 0px;
$section-container-padding-tb: 10px;
$section-container-padding-lr: 10px;

$background-image: "../assets/img/Background.png";
$background-color: $c-primary;

$vignette-border-width: 2px;

/*******************************
 * Header
 *******************************/
$header-txt-hover-color: $c-primary;
$header-txt-size-m: $base-size-font-txt-m;
$header-txt-size-l: $base-size-font-txt-xl;
$header-bottom-height: 50px;
$header-responsive-nav-height: 100vh;
$header-img-square-rotation: -54deg;
$header-img-square-size: 300px;
$header-img-square-position-top: -160px;
$header-img-square-position-left: -75px;
$header-img-size: 60%;
$header-img-position-left: 70px;

/*******************************
 * section-sport-en-entreprise
 *******************************/

// Activitées
$see-activity: see-fitness, see-combat, see-sports-co, see-sports-raquettes, see-sports-plein-air, seec-entex,
  seec-combat, seec-sports-co, seec-sports-raquettes, seec-sports-plein-air;
// $see-sport: fitness, pilate, step, cardio-training, gym-douce, boxe-francaise, judo, gouren, lutte, football, handball,
//   basketball, volleyball, rugby, ultimate, badminton, tennis-de-table, tennis, course-a-pied, course-d-orientation, velo;
$see-img-path: "./../../../assets/img/activities/";
$see-nav-height: 120px;
$see-nav-border-color: $c-primary;
$see-vignette-h2-color: $c-primary;
$see-vignette-h2-shade-color: $c-secundary-dark;
$see-vignette-txt-color: #fff;
$see-vignette-width: 300px;
$see-vignette-m-top-bottom: 20px;
$see-icon-size: 60px;
$see-scale-up: 1.02;

/*******************************
 * Section-trust
 *******************************/
$slide-width: 300px;
$slide-side-padding: 50px;
$slide-duration: 1s;

/*******************************
 * Page Contact
 *******************************/
$form-section-padding-lr: 10px;
$form-section-fs-padding-lr: 50px;
$form-section-infos-bkg-color: $c-primary;
$form-elt-width: 95%;
$form-elt-width-fs: 48%;
$form-elt-margin-tb: 10px;

$form-input-bkg: $c-secundary;
$form-input-padding: 10px;
$form-input-border-radius: 10px;
$form-input-font-size: $base-size-font-txt-s;
$form-input-font-color: $c-text-dark;
$form-input-placeholder-color: rgba($c-text-dark, 0.5);
$form-label-font-size: $base-size-font-txt-m;
$form-label-font-color: $c-text-dark;

$s-infos-title-color: $c-text-light;
$s-infos-svg-size: 40px;
$s-infos-svg-bkg-color: $c-text-dark;
$s-infos-svg-color: $c-primary-light;

/*******************************
 * Cookie bar
 *******************************/
$cookie-translate-y: 104px !default;
$cookie-screen-translate-y: 52px !default;