<div class="page-spectacle">
  <app-section-intro [titleInfos]="spectacle.sectionTitle"></app-section-intro>
  <section>
    <div class="desc">
      <h3>{{spectacle.sectionTitle.title}}</h3>
      <div class="ctn-txt" *ngFor="let txt of spectacle.tabTxt">
        <p>{{txt}}</p>
      </div>
    </div>
  </section>
  <section class="bloc-video" *ngIf="!!spectacle.videoId">
    <h3>Vidéo de présentation</h3>
    <app-video class="video-youtube" [videoId]="spectacle.videoId"></app-video>
  </section>
</div>
<app-footer></app-footer>