@import "_variables-dir";
@import "_mixins-dir";

$title-svg-color: 50px !default;
$title-svg-icon-top: 40px !default;
$title-svg-padding-tb: 50px !default;
$title-svg-padding-lr: 50px !default;
$title-svg-icon-size: 50px !default;
$title-svg-scale: 1.1 !default;
$title-svg-scale-hover: 1.03 !default;
$title-svg-title-margin-tb: 15px !default;

:host {
  .title-svg {
    cursor: pointer;
    min-width: 270px;
    padding: $title-svg-padding-tb $title-svg-padding-lr;

    .list-svg {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .title-svg-icon {
        transition: all 0.2s ease;
        position: relative;
        width: $title-svg-icon-size;
        height: $title-svg-icon-size;

        ::ng-deep {
          .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: $title-svg-icon-size;
            height: $title-svg-icon-size;
            @include svg;
          }
        }

        transform: scale($title-svg-scale);
      }

      &.list-svg-top {
        .shifted {
          top: -1 * $title-svg-icon-top;
        }
      }

      &.list-svg-bottom {
        .shifted {
          top: $title-svg-icon-top;
        }
      }
    }

    .title {
      position: relative;

      ::ng-deep {
        .dotted-line {
          position: absolute;
          top: 50%;
          transform: translateX(-50%);
          transition: all $animation-duration ease;
          opacity: 0;

          &.left {
            left: -6px;
          }

          &.right {
            right: 10px;
          }
        }
      }

      h4 {
        color: $c-text-dark;
        margin: $title-svg-title-margin-tb 0;
        z-index: 1;
      }
    }

    transition: transform $animation-duration-short ease,
    color $animation-duration-short ease;

    &:hover,
    &.hovered {
      transform: scale($title-svg-scale-hover);

      .list-svg .title-svg-icon ::ng-deep .icon {
        @include svg-hover;
      }

      .title {
        ::ng-deep {
          .dotted-line {
            opacity: 1;

            &.left {
              left: -60px;
            }

            &.right {
              right: -45px;
            }
          }
        }
      }
    }
  }
}