<section class="section-g2s">
  <app-section-title-simple>
    Go2Sport 29
  </app-section-title-simple>
  <div class="section-container">
    <app-value-icon class="grid-item item-solidarite" [value]="values[0]" />
    <app-value-icon class="grid-item item-partage" [value]="values[1]" />
    <div class="grid-item ctn-txt">
      <p>
        Afin de développer le sport dans le Finistère et permettre la pratique
        sportive au plus grand nombre.
      </p>
      <br />
      <p>
        Notre souhait est que, vous, acteur
        <span class="value-text">Go2Sport 29</span> preniez du plaisir en
        pratiquant une activité physique et que cela ait un impact positif sur
        votre bien-être.
      </p>
      <br />
      <p>
        En mettant en avant la
        <span class="value-text box-underline" [class.hovered]="isHover(values[0].name)"
          (mouseover)="hoverInSolidarity()" (mouseout)="hoverOutSolidarity()">
          <span class="custom-underline">solidarité</span>
        </span>
        et le
        <span class="value-text box-underline" [class.hovered]="isHover(values[1].name)" (mouseover)="hoverInShare()"
          (mouseout)="hoverOutShare()">
          <span class="custom-underline">partage</span>
        </span>
        dans l'activité physique et sportive lors de nos interventions, nous
        favorisons la
        <span class="value-text box-underline" [class.hovered]="isHover(values[2].name)"
          (mouseover)="hoverInTolerance()" (mouseout)="hoverOutTolerance()">
          <span class="custom-underline">tolérance</span>
        </span>
        sur la progression et l'évolution de chacun en passant un moment
        <span class="value-text box-underline" [class.hovered]="isHover(values[3].name)"
          (mouseover)="hoverInConviviality()" (mouseout)="hoverOutConviviality()">
          <span class="custom-underline">convivial</span>
        </span>
        !
      </p>
    </div>
    <app-value-icon class="grid-item item-tolerance" [value]="values[2]" />
    <app-value-icon class="grid-item item-convivialite" [value]="values[3]" />

  </div>
</section>