<div class="header responsive dark-background">
  <!-- <transition name="translatedMenu" v-on:before-enter="toggleScroll" v-on:after-leave="toggleScroll"> -->
  <nav [@sideMenu] *ngIf="isNavOpenState" class="nav nav-responsive dark-background">
    <a [routerLink]="pageHome" class="nav-item">
      Accueil
    </a>
    <a [routerLink]="pageSportEnEntreprise" class="nav-item">
      Entreprise
    </a>
    <a [routerLink]="pageSportPourParticulier" class="nav-item">
      Particulier
    </a>
    <a [routerLink]="pageSportEnEcoles" class="nav-item">
      Ecoles
    </a>
    <a [routerLink]="pageContact" class="nav-item">
      Contact
    </a>
  </nav>
  <!-- </transition>-->
  <div class="header-logo">
    <div class="header-item menu-img dark-background" (click)="goToTop()">
      <img src="./assets/img/logos/Go2Sport_Logo-medium-bg-black.png" alt="logo Go2Sport 29" />
    </div>
    <div class="header-item menu-burger dark-background">
      <app-burger />
    </div>
  </div>
</div>