<section class="section-about">
  <app-section-title-bkg-blk>Qui suis-je?</app-section-title-bkg-blk>

  <div class="ctn-banner">
    <div class="about-elt elt-banner">
      <!-- <img class="about-img" src="@/assets/img/section-about/About-PhotoBanner.jpg" alt="Go2Sport - Damien Le Bellec" /> -->
    </div>
    <div class="about-elt elt-txt txt-banner">
      <h3>Damien Le Bellec <br />Educateur Sportif</h3>
      <h4>Sociable</h4>
      <h4>Dynamique</h4>
      <h4>Persévérant</h4>
    </div>
  </div>
  <div class="ctn-grid">
    <div class="about-elt elt-txt txt-1">
      <h4>Mes diplomes</h4>
      <p>BPJEPS activité pour tous</p>
      <p>BPJEPS activité Sports Collectifs</p>
      <p>UCC Directeur d'accueil collectif de mineurs</p>
      <h4>Mes diplomes fédéraux</h4>
      <p>Entraîneur région handball</p>
      <p>Animateur handfit</p>
      <p>Animateur AB1 badminton</p>
    </div>
    <div class="about-elt elt-img img-1">
      <img src="/assets/img/section-about/About-PhotoProfil-1.jpg" alt="Logo Go2Sport 29" />
    </div>
    <div class="about-elt elt-img img-2">
      <img src="/assets/img/section-about/About-PhotoProfil-2.jpg" alt="Logo Go2Sport 29" />
    </div>
    <div class="about-elt elt-txt txt-2">
      <div class="txt-ctn">
        <p>
          Je suis un grand passionné de sport. Handballeur depuis mes premiers pas je me suis vite lancé dans
          l'animation.
        </p>
        <p>
          Etant fortement impliqué dans le sport associatif de la région, j'ai toujours eu cette idée de transmettre
          cette passion.
        </p>
        <p>
          De plus je suis persuadé qu'afin d'être le plus productif possible au travail, mais aussi de
          simplement se sentir mieux dans la vie de tous les jours il est important, sinon indispensable, de pratiquer
          une activité sportive régulière.
        </p>
        <p>
          Aujourd'hui, non seulement ma passion est toujours aussi grande, mais c'est fort d'un BPJPES activité pour
          tous
          (Brevet professionnel de la jeunesse, de l'éducation populaire et du sport) et d'un BTS Technico-commercial.
        </p>
      </div>
    </div>
    <div class="about-elt elt-txt txt-3">
      <app-svg-arrows />
      <p>En cette année 2019, je me suis décidé à me lancer dans une nouvelle aventure sportive:</p>
      <h4>Go2Sport 29</h4>
      <p>
        Ce projet est un projet qui me ressemble et auquel je suis accroché et j'espère enfin pouvoir partager avec
        vous
        mon amour pour le sport.
      </p>
    </div>
    <div id="ctn-img-logo" class="about-elt elt-img img-3">
      <img id="img-logo" src="/assets/img/section-about/Go2Sport_Logo-big-bg-black.png" alt="Logo Go2Sport 29" />
    </div>
  </div>
</section>