<section class="section-about">

  <div class="ctn-banner">
    <div class="about-elt elt-banner">
      <!-- <img class="about-img" src="@/assets/img/section-about/About-PhotoBanner.jpg" alt="Go2Sport - Damien Le Bellec" /> -->
    </div>
    <div class="about-elt elt-txt txt-banner">
      <h3>Ronan CALVARY</h3>
    </div>
  </div>
  <p>Un magicien professionnel pour votre événement particulier, entreprise ou collectivité, donnez de l'originalité à
    votre
    soirée à travers une animation insolite, conviviale et interactive. Depuis plus de 10 ans Ronan intervient pour les
    plus
    grandes entreprises, les célébrités et les soirées prestige à travers ses interventions pleines d'humour et de
    mystère.
    Le plaisir de ne pas tout comprendre dans un monde où tout est possible même l'impossible. Miracles ou illusions à
    vous
    de juger ses prestations...</p>
</section>