@import "_variables-dir";
@import "_mixins-dir";

/**----------------------------- Section A propos -----------------------------**/
$s-about-txt-padding-tb: 20px !default;
$s-about-txt-padding-lr-s: 10px !default;
$s-about-txt-padding-lr-m: 20px !default;
$s-about-row-minmax-s: 300px !default;
$s-about-row-minmax-m: 400px !default;
$s-about-drop-shadow-size: $drop-shadow-size;
$s-about-drop-shadow-color: $drop-shadow-color !default;

:host {
  .section-about {
    .section-title {
      margin-bottom: 0;
    }

    .section-about-ctn {
      position: relative;
      top: -130px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: minmax($s-about-row-minmax-s, 1fr) 1fr;
      grid-auto-rows: minmax($s-about-row-minmax-s, 1fr);

      .about-elt {
        &.elt-banner {
          @include bkgGradient($url: "/assets/img/section-about/About-PhotoBanner-v.jpg",
            $color1: transparent,
            $color1Stop: 25%,
            $color2: rgba($c-primary, 0.7),
            $color2Stop: 60%,
            $angle: 180deg);
        }

        &.elt-img {
          background-position: center;
          /* Center the image */
          background-repeat: no-repeat;
          /* Do not repeat the image */
          background-size: cover;

          /* Resize the background image to cover the entire container */
          &.img-1 {
            background-image: url("/assets/img/section-about/About-PhotoProfil-1-v.jpg");
          }

          &.img-2 {
            background-image: url("/assets/img/section-about/About-PhotoProfil-2-v.jpg");
          }

          &.img-3 {
            img {
              position: relative;
              left: 50%;
              top: 50%;
              transform: translateX(-50%) translateY(-50%);
              width: 70%;
              // max-height: $s-about-row-minmax-s;
              filter: drop-shadow($s-about-drop-shadow-size $s-about-drop-shadow-color);
            }
          }
        }

        &.elt-txt {
          padding: $s-about-txt-padding-tb $s-about-txt-padding-lr-s;
          align-self: center;

          h4 {
            margin: 10px 0 5px 0;
          }

          &.txt-banner {
            align-self: end;

            h3,
            h4 {
              color: $c-secundary-light;
              text-shadow: 2px 2px 4px $c-secundary-dark;
            }

            h3 {
              position: relative;
              left: 50%;
              transform: translateX(-50%);
              width: 80%;
              border: solid 2px $c-secundary-light;
              border-radius: 20px;
              margin-bottom: 20px;
            }
          }

          &.bkg-primary {
            height: 100%;
            background-color: $c-primary;

            .txt-ctn {
              position: relative;
              left: 50%;
              top: 50%;
              transform: translateX(-50%) translateY(-50%);

              p {
                color: $c-text-light;
              }
            }
          }

          svg {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            max-width: 150px;
            filter: drop-shadow($s-about-drop-shadow-size $s-about-drop-shadow-color);
          }
        }

        grid-column: 1;

        &.elt-banner {
          grid-row: 1 / span 2;
        }

        &.txt-banner {
          grid-row: 2;
        }

        &.txt-1 {
          grid-row: 3;
        }

        &.img-1 {
          grid-row: 4 / span 2;
        }

        &.txt-2 {
          grid-row: 6;
        }

        &.img-2 {
          grid-row: 7 / span 2;
        }
      }
    }
  }
}


@media only screen and (min-width: $min-width-m) {
  :host {
    .section-about {
      .section-about-ctn {
        grid-template-columns: 1fr 1fr;

        .about-elt {
          &.elt-banner {
            grid-column: 1 / span 2;
            grid-row: 1 / span 2;
          }

          &.txt-banner {
            grid-column: 2;
            grid-row: 1 / span 2;
          }

          &.txt-1 {
            grid-column: 1;
            grid-row: 3 / span 1;
          }

          &.img-1 {
            grid-column: 2;
            grid-row: 3 / span 2;
          }

          &.img-2 {
            grid-column: 1;
            grid-row: 4 / span 2;
          }

          &.txt-2 {
            grid-column: 2;
            grid-row: 5 / span 1;
          }

          &.txt-3 {
            grid-column: 1;
          }

          &.img-3 {
            grid-column: 2;
          }
        }

        .about-elt {
          &.elt-banner {
            @include bkgGradient($url: "/assets/img/section-about/About-PhotoBanner-h.jpg",
              $color1: transparent,
              $color1Stop: 25%,
              $color2: rgba($c-primary, 0.7),
              $color2Stop: 60%);
          }

          &.elt-img {
            &.img-1 {
              background-image: url("/assets/img/section-about/About-PhotoProfil-1-h.jpg");
            }

            &.img-2 {
              background-image: url("/assets/img/section-about/About-PhotoProfil-2-h.jpg");
            }

            &.img-3 {
              img {
                filter: none;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $min-width-m) {
  :host {
    .section-about {
      .section-about-ctn {
        grid-template-rows: minmax($s-about-row-minmax-m, 1fr) 1fr;
        grid-auto-rows: minmax($s-about-row-minmax-m, 1fr);

        .about-elt.elt-txt {
          padding: $s-about-txt-padding-tb $s-about-txt-padding-lr-m;
        }
      }
    }
  }
}