<section class="section-container section-photos">
  <h3>Les spectacles</h3>
  <ul class="photo-container">
    <li class="picture-ctn pic-1 horizontal">
      <div [routerLink]="navigate(pageSpecCloseUpPath)" class="picture">
        <span>
          <div class="span-container">
            <p>Close-Up</p>
            <button>
              <app-svg-heart></app-svg-heart>
              <p>En Savoir +</p>
            </button>

          </div>
        </span>
      </div>
    </li>
    <li class="picture-ctn pic-2 vertical">
      <div [routerLink]="navigate(pageSpecCabaretPath)" class="picture">
        <span>
          <div class="span-container">
            <p>Cabaret</p>
            <button>
              <app-svg-club></app-svg-club>
              <p>En Savoir +</p>
            </button>
          </div>
        </span>
      </div>
    </li>
    <li class="picture-ctn pic-3">
      <div [routerLink]="navigate(pageSpecJeunePublicPath)" class="picture">
        <span>
          <div class="span-container">
            <p>Jeune public</p>
            <button>
              <app-svg-spade></app-svg-spade>
              <p>En Savoir +</p>
            </button>
          </div>
        </span>
      </div>
    </li>
    <li class="picture-ctn pic-4 vertical">
      <div [routerLink]="navigate(pageSpecMagieNumPath)" class="picture">
        <span>
          <div class="span-container">
            <p>Close-up digital</p>
            <button>
              <app-svg-club></app-svg-club>
              <p>En Savoir +</p>
            </button>
          </div>
        </span>
      </div>
    </li>
    <li class="picture-ctn pic-5 horizontal">
      <div [routerLink]="navigate(pageSpecShowGrandesIllusionsPath)" class="picture">
        <span>
          <div class="span-container">
            <p>Show Grandes Illusions</p>
            <button>
              <app-svg-diamond></app-svg-diamond>
              <p>En Savoir +</p>
            </button>
          </div>
        </span>
      </div>
    </li>
  </ul>
</section>