<section class="section-special section-call-to-action dark-background">
  <h3>
    Préparez-vous à être ébloui !
  </h3>
  <div class="text">
    <div class="text-container">
      <p>
        Réservez dès maintenant votre expérience magique avec Ronan Calvary ! Offrez-vous, ainsi qu'à vos invités, une
        soirée inoubliable, emplie de rires, de mystère et d'étonnement.
      </p>
      <br>
      <p>
        Pour obtenir plus d'informations sur les disponibilités, les tarifs et les options personnalisées,
        contactez-nous
        dès aujourd'hui. Ronan Calvary est prêt à vous faire vivre une expérience unique où le rire et l'incompréhension
        se rencontrent pour créer des souvenirs magiques qui resteront gravés dans vos esprits.
      </p>
      <app-button [btnInfos]="btnInfos"></app-button>
    </div>
  </div>
  <div class="picture">
    <div class="frame"></div>
  </div>
</section>