@mixin backgroundImage(
$bkg-image,
$bkg-color,
$h1-color:$c-secundary-light,
$p-color:$c-secundary-dark ){

  position: relative;

  h1{
    color: $h1-color;
  }
  p{
    color: $p-color;
  }
  &::before, &::after{
    content: "";
    background-color: $bkg-color;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
  }
  &::before{
    background-color: $bkg-color;
    z-index: -2;
  }
  &::after{
    background-image: url($bkg-image);
    background-attachment: scroll;
    background-position: right 0px bottom -2px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
  }
}
