<div class="page-clos-up">
  <!-- <app-section-intro [titleInfos]="titleInfos"></app-section-intro> -->
  <section class="section-container">
    <div class="desc">
      <h3>Clos-Up</h3>
      <p>De table en table et/ou au cocktail dînatoire, c’est à 20 cm de vos yeux que la magie prend forme.

        Avec cordes, cigarettes, pièces, foulards, cartes et vos portefeuilles, le magicien anime avec talent et
        élégance vos
        invités à travers une magie interactive.

        En petit comité ou en public nombreux le magicien déambule lors de votre soirée et propose des expériences
        surprenantes
        qui dynamiseront votre événement.

        Un véritable spectacle au bout des doigts, le close up : une valeur sûre !

        * Convivialité entre les invités

        * Prestation adaptée au rythme de la soirée

        * Intervention non intrusive et fédératrice

        * Possibilité d’adapter des numéros sur mesure selon les convives de la table

        * Vous êtes une entreprise: la magie est un véritable outil de communication</p>
      <button>En Savoir plus</button>
    </div>
  </section>
</div>
<app-footer></app-footer>